
<!-- NAVIGATION -->

	<nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	        <a class="navbar-brand">Dan's ui-router tester</a>
	    </div>
	    <ul class="nav navbar-nav navbar-left">
	        <li><a ui-sref="home">Home</a></li>
	        <li><a ui-sref="app.dashboard">App</a></li>
	     </ul>
	     <ul class="nav navbar-nav navbar-right">
	        <li ng-hide="!nav.userService.user.isLoggedIn"><a href="#" data-ng-click="nav.userService.logout(true)">Logout</a></li>
	        <li>&nbsp;&nbsp;</li>
	    </ul>
	</nav>
